<IfModule mod_headers.c>
   Header add Access-Control-Allow-Origin "*"
   Header add Access-Control-Allow-Headers "*"
   Header add Access-Control-Allow-Methods "OPTIONS, GET, POST"
   Header add Access-Control-Max-Age 86400
</IfModule>